/* % referente ao pai */

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
}
.modal-content {
  background-color: rgb(204, 219, 235);
  display: grid;
  place-items: center;

  width: 40%;
  max-width: 800px;

  border: 5px solid rgb(15, 15, 173);
  border-radius: 6px;
  border-style: double;
}

.modal-actions {
  padding-bottom: 1rem;
}

.modal-actions button {
  margin: 0 2rem;
}

.bg-sucess {
  background-color: rgb(40, 109, 40);
  padding: 1em;

  border: 2px solid rgb(7, 126, 13);
  border-style: double;
}

.bg-sucess:hover {
  background-color: rgb(88, 177, 88);
  font-weight: bold;
}

.bg-error {
  background-color: rgb(139, 8, 8);
  padding: 1em;

  border: 2px solid rgb(192, 9, 9);
  border-style: double;
}

.bg-error:hover {
  background-color: rgb(209, 35, 35);
  font-weight: bold;
}
